* {
  margin: 0;
  padding: 0;
}

html,
body {
  font: 12px/22px tahoma, arial;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.i-icon {
  display: inline-block;
  vertical-align: middle;
  background: url(../images/asses56.png) no-repeat;
}

.top-list {
  display: flex;
}

.top-list .left-li:hover .nav-active {
  color: #e6186f;
}

.top-list .left-li {
  margin-right: 16px;
  margin-left: 0px;
  line-height: 35px;
}

.top-list .top-left-menu {
  display: flex;
  line-height: 35px;
}

.top-list .top-left-menu .left-li {
  margin-right: 16px;
  margin-left: 0px;
  line-height: 35px;
}

.top-list .top-left-menu .left-li .i-icon {
  margin-top: -3px;
  margin-right: 1px;
  vertical-align: middle;
}

.top-list .top-left-menu .left-star {
  width: 13px;
  height: 13px;
  background-position: -87px -31px;
}

.top-list .top-left-menu .star-left,
.top-list .top-left-menu .weibo-left {
  display: inline-block;
  height: 35px;
  font-size: 11px;
  color: #525252;
}

.top-list .top-left-menu .left-weibo {
  width: 18px;
  height: 14px;
  background-position: -54px -24px;
}

.top-list .top-right-menu {
  display: flex;
  align-items: center;
  margin-left: 145px;
}

.top-list .top-right-menu .right-li:hover .nav-active {
  color: #e6186f;
}

.top-list .top-right-menu .right-li {
  margin-right: 10px;
  margin-left: 0px;
  line-height: 35px;
}

.top-list .top-right-menu .welcome-box {
  display: block;
}

.top-list .top-right-menu .welcome-txt .tex {
  font-style: normal;
  font-size: 11px;
  color: #525252;
}

.top-list .top-right-menu .welcome-txt .welcome-login {
  font-size: 11px;
  color: #e6186f;
  margin: 0 6px 0 10px;
}

.top-list .top-right-menu .welcome-txt .welcome-register {
  font-size: 11px;
  color: #525252;
}

.top-list .top-right-menu .welcome-txt .welcome-register:hover {
  color: #e6186f;
}

.top-list .top-right-menu .top-member-denglu {
  display: none;
  position: relative;
  margin-left: 76px;
}

.top-list .top-right-menu .top-member-denglu .top-login {
  padding: 0 8px;
  border-right: 1px solid #f7f7f7;
  border-left: 1px solid #f7f7f7;
  cursor: pointer;
}

.top-list .top-right-menu .top-member-denglu .top-login em {
  font-style: normal;
  color: #e6186f;
}

.top-list .top-right-menu .top-member-denglu .top-login em .icon-level {
  width: 18px;
  height: 14px;
  margin-top: -3px;
  background-position: -86px -568px;
}

.top-list .top-right-menu .top-member-denglu .top-login .top-account {
  display: inline-block;
  max-width: 75px;
  margin-top: -3px;
  vertical-align: middle;
  color: #e6186f;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.top-list .top-right-menu .top-member-denglu .cehngzhang {
  position: absolute;
  padding: 5px 0;
  color: #525252;
  right: 0;
  top: 35px;
  border-top: 0;
}

.top-list .top-right-menu .top-member-denglu .cehngzhang .login-account-box {
  position: relative;
  width: 194px;
  height: 56px;
  padding: 5px 10px;
  display: flex;
}

.top-list .top-right-menu .top-member-denglu .cehngzhang .login-account-box .icon-account {
  width: 56px;
  height: 56px;
  background-position: -44px -509px;
}

.top-list .top-right-menu .top-member-denglu .cehngzhang .login-account-box .login-account-info {
  margin-top: 6px;
  margin-left: 15px;
}

.top-list .top-right-menu .top-member-denglu .cehngzhang .login-account-box .login-account-info p {
  font-size: 12px;
  color: #666;
  line-height: 18px;
  padding-bottom: 0;
}

.top-list .top-right-menu .top-member-denglu .cehngzhang .login-account-box .login-account-info p .account_growthVal {
  font-size: 12px;
  color: #e6186f;
}

.top-list .top-right-menu .top-member-denglu .cehngzhang .login-account-box .login-account-info .account-level {
  width: 78px;
  height: 22px;
  background-position: 0 -584px;
}

.top-list .top-right-menu .top-member-denglu .cehngzhang .login-account-box .login-account-exit {
  font-size: 12px;
  color: #666;
  padding: 0;
  margin-left: 20px;
}

.top-list .top-right-menu .top-member-denglu .cehngzhang .login-account-box .login-account-exit:hover {
  color: #e6186f;
}

.top-list .top-right-menu .top-member-denglu .cehngzhang .login-account-btn {
  display: block;
  width: 194px;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  background-color: #e51a6c;
  text-decoration: none;
  padding: 0;
  margin-left: 10px;
}

.top-list .top-right-menu .icon-tri {
  width: 5px;
  height: 3px;
  background-position: -23px 0;
  margin: -2px 0 0 2px;
  transition: all .3s;
  vertical-align: middle;
}

.top-list .top-right-menu .list-line {
  width: 0;
  height: 15px;
  border-left: 1px solid #e0e0e0;
}

.top-list .top-right-menu .top-member-box {
  position: absolute;
  z-index: 2;
  padding: 5px 0 0;
  border: 1px solid #e9e9e9;
  background-color: #fff;
  border-top: none;
  display: none;
}

.top-list .top-right-menu .active-nav {
  color: #e6186f;
}

.top-list .top-right-menu .top-member-li {
  position: relative;
  border-left: 1px solid #f7f7f7;
  border-right: 1px solid #f7f7f7;
}

.top-list .top-right-menu .top-member-li .top-member {
  display: flex;
  align-items: center;
  font-size: 11px;
  color: #525252;
  padding: 0 8px;
}

.top-list .top-right-menu .top-member-li .top-member .icon-tri {
  width: 5px;
  height: 3px;
  background-position: -23px 0;
}

.top-list .top-right-menu .top-member-li .top-member-box {
  right: -1px;
  width: 100%;
}

.top-list .top-right-menu .top-member-li .top-member-box .member-a {
  margin-left: 5px;
  line-height: 25px;
  font-size: 11px;
  color: #525252;
}

.top-list .top-right-menu .top-member-li .top-member-box .member-a:hover {
  color: #e6186f;
}

.top-list .top-right-menu .left-li-item:hover {
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  background-color: #fff;
}

.top-list .top-right-menu .left-li-item:hover .icon-tri {
  transform: rotate(180deg);
}

.top-list .top-right-menu .top-member-li:hover .top-member-box {
  display: block;
  display: flex;
  flex-direction: column;
}

.top-list .top-right-menu .red-cart {
  display: inline-block;
  width: 15px;
  height: 16px;
  vertical-align: middle;
  margin-top: -3px;
  background-position: -85px -44px;
}

.top-list .top-right-menu .top-cart {
  font-size: 11px;
  color: #525252;
}

.top-list .top-right-menu .top-cart span {
  color: #e6186f;
}

.top-list .top-right-menu .top-phone-item {
  position: relative;
  border-left: 1px solid #f7f7f7;
  border-right: 1px solid #f7f7f7;
}

.top-list .top-right-menu .top-phone-item .top-phone {
  font-size: 11px;
  padding: 0 8px;
  color: #525252;
}

.top-list .top-right-menu .top-phone-item .top-phone .red-phone {
  width: 12px;
  height: 14px;
  margin-top: -3px;
  vertical-align: middle;
  background-position: -90px -62px;
}

.top-list .top-right-menu .top-phone-item .top-phone-box {
  position: absolute;
  display: flex;
  right: 0;
  height: 220px;
  display: none;
}

.top-list .top-right-menu .top-phone-item:hover .top-phone-box {
  display: block;
  display: flex;
}

.top-list .top-website-item {
  position: relative;
  border-left: 1px solid #f7f7f7;
  border-right: 1px solid #f7f7f7;
}

.top-list .top-website-item .top-website {
  display: flex;
  align-items: center;
  font-size: 11px;
  padding: 0 8px;
  color: #525252;
}

.top-list .top-website-item .red-website {
  width: 17px;
  height: 14px;
  background-position: -85px -78px;
}

.top-list .top-website-item .top-website-box {
  height: 162px;
  width: 100%;
  left: -1px;
}

.top-list .top-website-item .top-website-box .member-a {
  margin-left: 5px;
  line-height: 25px;
  font-size: 11px;
  color: #525252;
}

.top-list .top-website-item .top-website-box .member-a:hover {
  color: #e6186f;
}

.top-list .top-website-item:hover .top-website-box {
  display: block;
  display: flex;
  flex-direction: column;
}

.top-list .red-kefu-item {
  margin-right: 0;
}

.top-list .red-kefu-item .red-kefu {
  width: 14px;
  height: 14px;
  margin-top: -4px;
  background-position: -86px -94px;
}

.top-list .red-kefu-item .kufuhot {
  font-size: 11px;
  font-style: normal;
  font-family: Verdana;
  color: #525252;
}
