* {
  margin: 0;
  padding: 0;
}

html,
body {
  font: 12px/22px tahoma, arial;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.i-icon {
  display: inline-block;
  vertical-align: middle;
  background: url(../images/asses56.png) no-repeat;
}

#box {
  position: relative;
}

#box .sidebar-wrap {
  z-index: 9999;
  width: 36px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  opacity: .95;
  background-color: #40454d;
}

#box .sidebar-wrap .sidebar-main {
  width: 36px;
  height: 316px;
  position: absolute;
  top: 25%;
  left: 0;
}

#box .sidebar-wrap .sidebar-main .sidebar-content {
  width: 100%;
  margin-top: -1px;
  padding: 10px 2px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

#box .sidebar-wrap .sidebar-main .sidebar-content .i-icon {
  display: block;
  margin: 0 0 5px 3px;
}

#box .sidebar-wrap .sidebar-main .sidebar-content .white-cart {
  width: 21px;
  height: 18px;
  background-position: -23px -188px;
}

#box .sidebar-wrap .sidebar-main .sidebar-content .white-kefu {
  width: 20px;
  height: 19px;
  background-position: -23px -169px;
  margin: 0 0 5px 6px;
}

#box .sidebar-wrap .sidebar-main .sidebar-content .icon-member {
  width: 18px;
  height: 18px;
  background-position: -23px -151px;
  margin: 0 0 5px 6px;
}

#box .sidebar-wrap .sidebar-main .sidebar-content .icon-tex {
  font-family: microsoft yahei;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 5px;
  color: #fff;
  text-align: center;
}

#box .sidebar-wrap .sidebar-main .sidebar-content:hover {
  background: rgba(255, 255, 255, 0.2);
}

#box .sidebar-wrap .sidebar-main .sidebar-content .drawer-handle {
  position: absolute;
  top: 13px;
  left: 0;
  width: 0;
  height: 0;
  border-width: 5px 0 5px 5px;
  border-style: solid;
  display: none;
  border-color: transparent transparent transparent #fff;
}

#box .sidebar-wrap .sidebar-main .sidebar-content:hover .drawer-handle {
  display: block;
  background: rgba(255, 255, 255, 0.2);
}

#box .sidebar-wrap .sidebar-main .sidebar-line {
  width: 18px;
  height: 0;
  margin: 4px auto;
  border-bottom: 1px solid #949494;
}

#box .sidebar-wrap .icon-top-box {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 90%;
}

#box .sidebar-wrap .icon-top-box .icon-top {
  display: block;
  width: 22px;
  height: 19px;
  margin-top: 10px;
  margin-left: 5px;
  background-position: -23px -206px;
}

#box .sidebar-wrap .icon-top-box:hover {
  background: rgba(255, 255, 255, 0.2);
}

#box .cart-drawer {
  position: fixed;
  z-index: 4;
  top: 25%;
  right: -260px;
  width: 270px;
  height: 410px;
  background-color: #f2f2f2;
  overflow: hidden;
  transition: all .5s;
  cursor: pointer;
}

#box .cart-drawer .cfb-title-box {
  padding: 7px 6px;
  border-bottom: 1px solid #dedede;
  display: flex;
}

#box .cart-drawer .cfb-title-box .black-cart {
  width: 21px;
  height: 20px;
  background-position: -52px 0;
  margin-right: 5px;
}

#box .cart-drawer .cfb-title-box p {
  color: #666;
  font-family: microsoft yahei;
  font-size: 14px;
  line-height: 19px;
}

#box .cart-drawer .cfb-empty-text {
  padding: 10px 0;
  margin-bottom: 10px;
  position: relative;
  text-align: center;
}

#box .cart-drawer .cfb-bottom-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid #dedede;
}

#box .cart-drawer .cfb-bottom-box p {
  color: #000000;
  font-family: microsoft yahei;
  font-size: 14px;
  line-height: 19px;
  text-align: left;
  margin-left: 10px;
}

#box .cart-drawer .cfb-bottom-box p span {
  display: inline-block;
  line-height: 20px;
}

#box .cart-drawer .cfb-bottom-box p .red {
  color: #e6186f;
}

#box .cart-drawer .cfb-bottom-box p .cfb-js-btn {
  display: inline-block;
  background: #f1156f;
  padding: 3px 15px;
  margin-left: 35px;
}

#box .kefu-drawer {
  width: 200px;
  height: 280px;
  background-color: #fff;
  transition: all .4s;
  border: 1px solid #dedede;
  position: fixed;
  top: 38%;
  right: -280px;
  z-index: 100;
  cursor: pointer;
}

#box .kefu-drawer .kefu-icon {
  line-height: 38px;
  text-align: left;
  padding-left: 30px;
  color: #333;
  letter-spacing: 5px;
  background: url(../images/index_icon_01.png) no-repeat 5px center;
}

#box .kefu-drawer .btn-box {
  text-align: center;
  height: 65px;
}

#box .kefu-drawer .btn-box a {
  display: block;
  width: 33.3333%;
  float: left;
  color: #fff;
  padding-top: 35px;
  line-height: 30px;
  text-decoration: underline;
  position: relative;
}

#box .kefu-drawer .btn-box a:hover .mask-lay {
  display: block;
}

#box .kefu-drawer .btn-box .ng-btn {
  background: url(../images/asses66.png) no-repeat center 10px;
  background-color: #ef584d;
}

#box .kefu-drawer .btn-box .zh-btn {
  background: url(../images/asses1.png) no-repeat center 10px;
  background-color: #4680de;
}

#box .kefu-drawer .btn-box .sh-btn {
  background: url(../images/asses2.png) no-repeat center 10px;
  background-color: #e45092;
}

#box .kefu-drawer .btn-box .mask-lay {
  display: block;
  width: 100%;
  height: 65px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  display: none;
}

#box .kefu-drawer .qr_code {
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

#box .kefu-drawer .qr_code img {
  width: 115px;
  height: 115px;
}

#box .kefu-drawer .qr_code .code_tips {
  color: #828282;
  font-family: "microsoft yahei";
  letter-spacing: inherit;
  font-size: 14px;
}

#box .kefu-drawer .qr_code span {
  color: #e6186f;
}

#box .logout {
  width: 200px;
  height: 120px;
  border: 1px solid #dedede;
  background: #fff;
  z-index: 5;
  position: fixed;
  top: 54%;
  right: -280px;
  transition: all .4s;
}

#box .logout .login-box {
  display: flex;
  height: 90px;
  border-bottom: 1px dotted #acb2b2;
}

#box .logout .login-box img {
  width: 50px;
  height: 50px;
  margin-left: 16px;
  margin-top: 20px;
}

#box .logout .login-box .login-title-box {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

#box .logout .login-box .login-title-box .login-title {
  font-family: microsoft yahei;
  line-height: 22px;
  padding-top: 18px;
}

#box .logout .login-box .login-title-box .a-box {
  display: flex;
}

#box .logout .login-box .login-title-box .a-box a {
  margin-right: 5px;
  text-decoration: underline;
  color: #5d5d5d;
  font-family: microsoft yahei;
  font-size: 14px;
}

#box .logout .login-box .login-title-box .a-box a:hover {
  color: #e6186f;
}

#box .logout .btm {
  line-height: 29px;
  height: 29px;
  text-align: left;
  text-indent: 20px;
  color: #909090;
}

#box .login {
  padding: 5px 10px 10px 15px;
  width: 175px;
  position: fixed;
  top: 54%;
  right: -280px;
  border: 1px solid #dedede;
  background: #fff;
  z-index: 5;
  transition: all .4s;
}

#box .login .user-account {
  height: 65px;
  padding-left: 8px;
  text-align: left;
}

#box .login .user-account p {
  font-size: 14px;
  line-height: 20px;
  margin-top: 4px;
  color: #434343;
}

#box .login .user-account .rightAccount {
  color: #434343;
}

#box .login .user-account span {
  font-size: 14px;
  line-height: 34px;
  color: #1562b6;
}

#box .login .user-account span .level {
  display: inline-block;
  width: 19px;
  height: 20px;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  border-radius: 100%;
  background: #1562b6;
  color: #fff;
  text-align: center;
}

#box .login .user-info {
  height: 42px;
  width: 100%;
  display: flex;
}

#box .login .user-info li {
  width: 58px;
  text-align: center;
  border-left: 1px solid #d0d0d0;
}

#box .login .user-info li:nth-child(1) {
  border-left: none;
}

#box .login .user-info li span {
  color: #f1156f;
}

#box .kefu_pop_wrap .kefu_pop_mid {
  width: 86px;
  height: 140px;
  background: url(../images/asses4.png) 0 0 no-repeat;
  background-size: 86px 140px;
  position: fixed;
  bottom: 10px;
  left: 100px;
  opacity: 1;
  transition: all 1s;
  z-index: 100;
}

#box .kefu_pop_wrap .kefu_pop_mid .mid_close {
  position: absolute;
  display: block;
  width: 14%;
  height: 8.6%;
  right: 4%;
  top: 2.5%;
  cursor: pointer;
}

#box .kefu_pop_wrap .kefu_pop_small {
  position: fixed;
  z-index: 200;
  bottom: 48px;
  left: 0;
  height: 32px;
  cursor: pointer;
  opacity: 0;
  transition: all 1s;
}

#box .kefu_pop_wrap .kefu_pop_small .small_tips {
  height: 32px;
  font-family: "microsoft yahei";
  background-color: #1360ac;
  color: #fff;
  font-size: 13px;
  padding: 0 13px;
  line-height: 32px;
  float: left;
}

#box .kefu_pop_wrap .kefu_pop_small .small_icon {
  display: inline-block;
  height: 32px;
  width: 32px;
  background: #a8a8a8 url(../images/asses5.png) 5px 5px no-repeat;
}

#box .kefu_pop_wrap .kefu_pop_big {
  position: fixed;
  width: 542px;
  height: 268px;
  background: transparent url(../images/asses3.png) 0 0 no-repeat;
  z-index: 200;
  top: 100%;
  left: 100px;
  opacity: 0;
  transition: all 1.2s;
}

#box .kefu_pop_wrap .kefu_pop_big .big_close {
  position: absolute;
  display: block;
  width: 5.55%;
  height: 11.19%;
  right: 12.75%;
  top: 22.01%;
  cursor: pointer;
  transition: all 0.5s;
}
